<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>

    <bindings>
      <wsHttpBinding>
        <binding name="flightBinding" transactionFlow="false" sendTimeout="00:30:00" receiveTimeout="00:30:00">
          <reliableSession enabled="true" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service name="WcfFlightService.FlightBookingService" behaviorConfiguration="flightService">
        <endpoint binding="wsHttpBinding" bindingConfiguration="flightBinding" 
          name="FlightBooking" contract="WcfFlightService.IFlightBookingService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
		<endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:12346/FlightService" />
          </baseAddresses>
        </host>
      </service>
    </services>
	<behaviors>
		<serviceBehaviors>
			<behavior name="flightService" >
				<!-- Add the following element to your service behavior configuration. -->
				<serviceMetadata httpGetEnabled="true" />
				<serviceDebug includeExceptionDetailInFaults="true" />
			</behavior>
		</serviceBehaviors>
	</behaviors>
    <protocolMapping>
      <add scheme="http" binding="wsHttpBinding"/>
    </protocolMapping>
  </system.serviceModel>
	
	<connectionStrings>
		<add name="FlightDBEntities1" connectionString="metadata=res://*/FlightModel.csdl|res://*/FlightModel.ssdl|res://*/FlightModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=FlightDB;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>
