<configuration>
  <system.serviceModel>
    <services>
      <service name="FlightService.FlightQueryService"
               behaviorConfiguration="FlightServiceBehaviour">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:12345/FlightService"/>
          </baseAddresses>
        </host>
        <endpoint name="flightService"  address=""
                  binding="wsDualHttpBinding"
                  contract="FlightService.IFlightQueryService" />
        <endpoint name ="flightServiceMex" address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />

      </service>
      
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="FlightServiceBehaviour">
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>

    </behaviors>
  </system.serviceModel>

  <connectionStrings>
    <add name="FlightDBEntities1" connectionString="metadata=res://*/FlightModel.csdl|res://*/FlightModel.ssdl|res://*/FlightModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=FlightDB;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
</configuration>