<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="Receiver.ImageSenderService">
        <endpoint address="imageSender"
        binding="customBinding"
        bindingConfiguration="ServiceBinding"
        name="Destination"
        contract="ImageSenderContract.IImageSender" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8080/service" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <customBinding>
        <binding name="ServiceBinding">
          <reliableSession ordered="true"/>
          <binaryMessageEncoding>
            <readerQuotas maxArrayLength="4000000"/>
          </binaryMessageEncoding>
          <tcpTransport maxBufferSize="4000000" maxReceivedMessageSize="4000000" />
        </binding>
      </customBinding>
    </bindings>
  </system.serviceModel>
</configuration>